.product-img {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-primary, .page-link {
    color: #ce1ca6 !important;
}

.text-light {
    color: #fff !important;
}

.btn-primary, .bg-primary {
    color: #fff;
    background-color: #ce1ca6 !important;
    border-color: #ce1ca6 !important;
}

#mapid {
    height: 280px;
}